x64/Debug/Common/res/TitleUpdate/GameRules/BuildOnly/GameRulesDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GameRulesDefinition"
    targetNamespace="GameRulesDefinition.xsd"
    elementFormDefault="qualified"
    xmlns="GameRulesDefinition.xsd"
    xmlns:mstns="GameRulesDefinition.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <!--
  This document defines all the attributes and members for the various rules. This should be kept up-to-date with the C++ version
  of these rules.  
  -->
  <xs:element name="GameRules">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element ref="MapOptions"/>
        </xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element ref="LevelRules"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="LevelRules">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="GameRule"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="GameRuleType">
    <xs:attribute name="descriptionName" type="xs:string" use="optional"/>
    <xs:attribute name="promptName" type="xs:string" use="optional"/>
    <xs:attribute name="dataTag" type="xs:int" use="optional"/>
  </xs:complexType>

  <xs:attributeGroup name="Coordinates">
    <xs:attribute name="x" type="xs:int"/>
    <xs:attribute name="y" type="xs:int"/>
    <xs:attribute name="z" type="xs:int"/>
  </xs:attributeGroup>

  <xs:element name="GameRule" type="GameRuleType"/>
  <xs:element name="CompoundGameRule" type="GameRuleType" substitutionGroup="GameRule"/>

  <xs:element name="MapOptions">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GameRuleType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="MapOption"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="GenerateStructure"/>
            </xs:sequence>
          </xs:sequence>
          <xs:attribute name="seed" type="xs:long" use="optional"/>
          <xs:attribute name="spawnX" type="xs:int" use="optional"/>
          <xs:attribute name="spawnY" type="xs:int" use="optional"/>
          <xs:attribute name="spawnZ" type="xs:int" use="optional"/>
          <xs:attribute name="flatworld" type="xs:boolean" use="optional"/>
          <xs:attribute name="isTutorial" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="MapOption"/>

  <xs:element name="ApplySchematic" substitutionGroup="MapOption">
    <xs:complexType>
      <xs:attribute name="filename" type="xs:string" use="required"/>
      <xs:attribute name="x" type="xs:int" use="required"/>
      <xs:attribute name="y" type="xs:int" use="required"/>
      <xs:attribute name="z" type="xs:int" use="required"/>
      <xs:attribute name="rot" type="RotationType" use="optional"/>
      <xs:attribute name="dim" type="DimensionId" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="StartFeature" substitutionGroup="MapOption">
    <xs:complexType>
      <xs:attribute name="chunkX" type="xs:int" use="required"/>
      <xs:attribute name="chunkZ" type="xs:int" use="required"/>
      <xs:attribute name="feature" type="FeatureType" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="NamedArea" substitutionGroup="GameRule">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GameRuleType">
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="x0" type="xs:int" use="required"/>
          <xs:attribute name="y0" type="xs:int" use="required"/>
          <xs:attribute name="z0" type="xs:int" use="required"/>
          <xs:attribute name="x1" type="xs:int" use="required"/>
          <xs:attribute name="y1" type="xs:int" use="required"/>
          <xs:attribute name="z1" type="xs:int" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="GenerateStructureAction"/>
  <xs:element name="GenerateStructure">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="GenerateStructureAction"/>
      </xs:sequence>
      <xs:attribute name="x" type="xs:int" use="required"/>
      <xs:attribute name="y" type="xs:int" use="required"/>
      <xs:attribute name="z" type="xs:int" use="required"/>
      <xs:attribute name="orientation" type="Direction" use="optional"/>
      <xs:attribute name="dim" type="DimensionId" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="GenerateBox" substitutionGroup="GenerateStructureAction">
    <xs:complexType>
      <xs:attribute name="x0" type="xs:int" use="required"/>
      <xs:attribute name="y0" type="xs:int" use="required"/>
      <xs:attribute name="z0" type="xs:int" use="required"/>
      <xs:attribute name="x1" type="xs:int" use="required"/>
      <xs:attribute name="y1" type="xs:int" use="required"/>
      <xs:attribute name="z1" type="xs:int" use="required"/>
      <xs:attribute name="edgeTile" type="TileId" use="required"/>
      <xs:attribute name="fillTile" type="TileId" use="required"/>
      <xs:attribute name="skipAir" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddEnchantment">
    <xs:complexType>
      <xs:attribute name="enchantmentId" type="EnchantmentId" use="required"/>
      <xs:attribute name="enchantmentLevel" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="AddEnchantment"/>
      </xs:sequence>
      <xs:attribute name="itemId" type="ItemId" use="required"/>
      <xs:attribute name="quantity" type="xs:int" use="required"/>
      <xs:attribute name="auxValue" type="xs:byte" use="required"/>
      <xs:attribute name="dataTag" type="xs:int" use="required"/>
      <xs:attribute name="slot" type="xs:int" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PlaceBlockType">
    <xs:attribute name="block" type="TileId"/>
    <xs:attribute name="data" type="xs:byte" use="optional"/>
    <xs:attribute name="x" type="xs:int" use="required"/>
    <xs:attribute name="y" type="xs:int" use="required"/>
    <xs:attribute name="z" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:element name="PlaceBlock" substitutionGroup="GenerateStructureAction">
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="PlaceBlockType">
          <xs:attribute name="block" type="TileId" use="required"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="PlaceContainer" substitutionGroup="GenerateStructureAction">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="PlaceBlockType">
          <xs:sequence minOccurs="1" maxOccurs="36">
            <xs:element ref="AddItem"/>
          </xs:sequence>
          <xs:attribute name="block" type="TileId" use="required"/>
          <xs:attribute name="facing" type="Facing" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="PlaceSpawner" substitutionGroup="GenerateStructureAction">
    <xs:complexType>
      <xs:attribute name="x" type="xs:int" use="required"/>
      <xs:attribute name="y" type="xs:int" use="required"/>
      <xs:attribute name="z" type="xs:int" use="required"/>
      <xs:attribute name="entity" type="SpawnableEntity" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="CompleteAll" substitutionGroup="GameRule">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GameRuleType">
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="GameRule"/>
          </xs:sequence>
          <xs:attribute name="goalType" type="CompleteAllGoalType" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="UseTile" substitutionGroup="GameRule">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GameRuleType">
          <xs:attribute name="tileId" type="TileId" use="required"/>
          <xs:attribute name="useCoords" type="xs:boolean" use="required"/>
          <xs:attributeGroup ref="Coordinates"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="OpenContainer" substitutionGroup="GameRule">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GameRuleType">
          <xs:attribute name="containerId" type="ContainerType" use="required"/>
          <xs:attribute name="useCoords" type="xs:boolean" use="required"/>
          <xs:attributeGroup ref="Coordinates"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="CollectItem" substitutionGroup="GameRule">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GameRuleType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element ref="OpenContainer"/>
          </xs:sequence>
          <xs:attribute name="itemId" type="ItemId" use="required"/>
          <xs:attribute name="auxValue" type="xs:byte" use="optional"/>
          <xs:attribute name="quantity" type="xs:int" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdatePlayer" substitutionGroup="GameRule">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="GameRuleType">
          <xs:sequence minOccurs="0" maxOccurs="36">
            <xs:element ref="AddItem"/>
          </xs:sequence>
          <xs:attribute name="spawnX" type="xs:int" use="optional"/>
          <xs:attribute name="spawnY" type="xs:int" use="optional"/>
          <xs:attribute name="spawnZ" type="xs:int" use="optional"/>
          <xs:attribute name="food" type="FoodType" use="optional"/>
          <xs:attribute name="health" type="HealthType" use="optional"/>
          <xs:attribute name="yRot" type="FloatRotationType" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="HealthType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="20"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FoodType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="20"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FloatRotationType">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.0"/>
      <xs:maxExclusive value="360.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RotationType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0"/>
      <xs:enumeration value="90"/>
      <xs:enumeration value="180"/>
      <xs:enumeration value="270"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SpawnableEntity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Creeper"/>
      <xs:enumeration value="Skeleton"/>
      <xs:enumeration value="Spider"/>
      <xs:enumeration value="Giant"/>
      <xs:enumeration value="Zombie"/>
      <xs:enumeration value="Slime"/>
      <xs:enumeration value="Ghast"/>
      <xs:enumeration value="PigZombie"/>
      <xs:enumeration value="Enderman"/>
      <xs:enumeration value="CaveSpider"/>
      <xs:enumeration value="Silverfish"/>
      <xs:enumeration value="Blaze"/>
      <xs:enumeration value="LavaSlime"/>
      <xs:enumeration value="EnderDragon"/>
      <xs:enumeration value="Pig"/>
      <xs:enumeration value="Sheep"/>
      <xs:enumeration value="Cow"/>
      <xs:enumeration value="Chicken"/>
      <xs:enumeration value="Squid"/>
      <xs:enumeration value="Wolf"/>
      <xs:enumeration value="MushroomCow"/>
      <xs:enumeration value="SnowMan"/>
      <xs:enumeration value="Villager"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CompleteAllGoalType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Count children</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Accumulate childrens goals</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContainerType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Crafting Table</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Chest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Furnace</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Dispenser</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FeatureType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Mineshaft</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Nether Bridge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Temples</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Stronghold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Village</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Direction">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>SOUTH</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>WEST</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>NORTH</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>EAST</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Facing">
    <xs:restriction base="xs:int">
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>NORTH</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>SOUTH</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>WEST</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>EAST</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DimensionId">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Overworld</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="-1">
        <xs:annotation>
          <xs:documentation>Nether</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>The End</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EnchantmentId">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Protection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Fire Protection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Feather Falling</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Blast Protection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Projectile Protection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Respiration</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:documentation>Aqua Affinity</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:documentation>Thorns</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="16">
        <xs:annotation>
          <xs:documentation>Sharpness</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="17">
        <xs:annotation>
          <xs:documentation>Smite</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="18">
        <xs:annotation>
          <xs:documentation>Bane of Arthropods</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="19">
        <xs:annotation>
          <xs:documentation>Knockback</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:documentation>Fire Aspect</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="21">
        <xs:annotation>
          <xs:documentation>Looting</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="32">
        <xs:annotation>
          <xs:documentation>Efficiency</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="33">
        <xs:annotation>
          <xs:documentation>Silk Touch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="34">
        <xs:annotation>
          <xs:documentation>Unbreaking</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="35">
        <xs:annotation>
          <xs:documentation>Fortune</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="48">
        <xs:annotation>
          <xs:documentation>Power</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="49">
        <xs:annotation>
          <xs:documentation>Punch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="50">
        <xs:annotation>
          <xs:documentation>Flame</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="51">
        <xs:annotation>
          <xs:documentation>Infinity</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TileId">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Air</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Stone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Grass Block</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Dirt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Cobblestone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Wooden Planks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:documentation>Sapling</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:documentation>Bedrock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="8">
        <xs:annotation>
          <xs:documentation>Water</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:documentation>Water</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>Lava</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="11">
        <xs:annotation>
          <xs:documentation>Lava</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="12">
        <xs:annotation>
          <xs:documentation>Sand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="13">
        <xs:annotation>
          <xs:documentation>Gravel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="14">
        <xs:annotation>
          <xs:documentation>Gold Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="15">
        <xs:annotation>
          <xs:documentation>Iron Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="16">
        <xs:annotation>
          <xs:documentation>Coal Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="17">
        <xs:annotation>
          <xs:documentation>Wood</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="18">
        <xs:annotation>
          <xs:documentation>Leaves</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="19">
        <xs:annotation>
          <xs:documentation>Sponge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:documentation>Glass</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="21">
        <xs:annotation>
          <xs:documentation>Lapis Lazuli Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="22">
        <xs:annotation>
          <xs:documentation>Lapis Lazuli Block</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="23">
        <xs:annotation>
          <xs:documentation>Dispenser</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="24">
        <xs:annotation>
          <xs:documentation>Sandstone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="25">
        <xs:annotation>
          <xs:documentation>Note Block</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="26">
        <xs:annotation>
          <xs:documentation>Bed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="27">
        <xs:annotation>
          <xs:documentation>Powered Rail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="28">
        <xs:annotation>
          <xs:documentation>Detector Rail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="29">
        <xs:annotation>
          <xs:documentation>Sticky Piston</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:documentation>Web</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="31">
        <xs:annotation>
          <xs:documentation>Shrub</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="32">
        <xs:annotation>
          <xs:documentation>Dead Bush</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="33">
        <xs:annotation>
          <xs:documentation>Piston</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="34">
        <xs:annotation>
          <xs:documentation>Piston</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="35">
        <xs:annotation>
          <xs:documentation>Wool</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="36">
        <xs:annotation>
          <xs:documentation>Piston</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="37">
        <xs:annotation>
          <xs:documentation>Flower</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="38">
        <xs:annotation>
          <xs:documentation>Rose</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="39">
        <xs:annotation>
          <xs:documentation>Mushroom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation>Mushroom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="41">
        <xs:annotation>
          <xs:documentation>Block of Gold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="42">
        <xs:annotation>
          <xs:documentation>Block of Iron</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="43">
        <xs:annotation>
          <xs:documentation>Stone Slab</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="44">
        <xs:annotation>
          <xs:documentation>Stone Slab</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="45">
        <xs:annotation>
          <xs:documentation>Bricks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="46">
        <xs:annotation>
          <xs:documentation>TNT</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="47">
        <xs:annotation>
          <xs:documentation>Bookshelf</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="48">
        <xs:annotation>
          <xs:documentation>Moss Stone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="49">
        <xs:annotation>
          <xs:documentation>Obsidian</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="50">
        <xs:annotation>
          <xs:documentation>Torch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="51">
        <xs:annotation>
          <xs:documentation>Fire</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="52">
        <xs:annotation>
          <xs:documentation>Monster Spawner</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="53">
        <xs:annotation>
          <xs:documentation>Wooden Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="54">
        <xs:annotation>
          <xs:documentation>Chest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="55">
        <xs:annotation>
          <xs:documentation>Redstone Dust</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="56">
        <xs:annotation>
          <xs:documentation>Diamond Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="57">
        <xs:annotation>
          <xs:documentation>Block of Diamond</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="58">
        <xs:annotation>
          <xs:documentation>Crafting Table</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="59">
        <xs:annotation>
          <xs:documentation>Crops</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="60">
        <xs:annotation>
          <xs:documentation>Farmland</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="61">
        <xs:annotation>
          <xs:documentation>Furnace</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="62">
        <xs:annotation>
          <xs:documentation>Furnace</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="63">
        <xs:annotation>
          <xs:documentation>Sign</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="64">
        <xs:annotation>
          <xs:documentation>Wooden Door</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="65">
        <xs:annotation>
          <xs:documentation>Ladder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="66">
        <xs:annotation>
          <xs:documentation>Rail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="67">
        <xs:annotation>
          <xs:documentation>Stone Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="68">
        <xs:annotation>
          <xs:documentation>Sign</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="69">
        <xs:annotation>
          <xs:documentation>Lever</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="70">
        <xs:annotation>
          <xs:documentation>Pressure Plate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="71">
        <xs:annotation>
          <xs:documentation>Iron Door</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="72">
        <xs:annotation>
          <xs:documentation>Pressure Plate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="73">
        <xs:annotation>
          <xs:documentation>Redstone Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="74">
        <xs:annotation>
          <xs:documentation>Redstone Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="75">
        <xs:annotation>
          <xs:documentation>Redstone Torch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="76">
        <xs:annotation>
          <xs:documentation>Redstone Torch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="77">
        <xs:annotation>
          <xs:documentation>Button</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="78">
        <xs:annotation>
          <xs:documentation>Snow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="79">
        <xs:annotation>
          <xs:documentation>Ice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="80">
        <xs:annotation>
          <xs:documentation>Snow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="81">
        <xs:annotation>
          <xs:documentation>Cactus</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="82">
        <xs:annotation>
          <xs:documentation>Clay</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="83">
        <xs:annotation>
          <xs:documentation>Sugar Cane</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="84">
        <xs:annotation>
          <xs:documentation>Jukebox</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="85">
        <xs:annotation>
          <xs:documentation>Fence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="86">
        <xs:annotation>
          <xs:documentation>Pumpkin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="87">
        <xs:annotation>
          <xs:documentation>Netherrack</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="88">
        <xs:annotation>
          <xs:documentation>Soul Sand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="89">
        <xs:annotation>
          <xs:documentation>Glowstone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="90">
        <xs:annotation>
          <xs:documentation>Portal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="91">
        <xs:annotation>
          <xs:documentation>Jack-O-Lantern</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="92">
        <xs:annotation>
          <xs:documentation>Cake</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="93">
        <xs:annotation>
          <xs:documentation>Redstone Repeater</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="94">
        <xs:annotation>
          <xs:documentation>Redstone Repeater</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="95">
        <xs:annotation>
          <xs:documentation>Locked Chest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="96">
        <xs:annotation>
          <xs:documentation>Trapdoor</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="97">
        <xs:annotation>
          <xs:documentation>Silverfish Stone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="98">
        <xs:annotation>
          <xs:documentation>Stone Bricks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="99">
        <xs:annotation>
          <xs:documentation>Mushroom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="100">
        <xs:annotation>
          <xs:documentation>Mushroom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="101">
        <xs:annotation>
          <xs:documentation>Iron Bars</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="102">
        <xs:annotation>
          <xs:documentation>Glass Pane</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="103">
        <xs:annotation>
          <xs:documentation>Melon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="104">
        <xs:annotation>
          <xs:documentation>Pumpkin Stem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="105">
        <xs:annotation>
          <xs:documentation>Melon Stem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="106">
        <xs:annotation>
          <xs:documentation>Vines</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="107">
        <xs:annotation>
          <xs:documentation>Fence Gate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="108">
        <xs:annotation>
          <xs:documentation>Brick Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="109">
        <xs:annotation>
          <xs:documentation>Stone Brick Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="110">
        <xs:annotation>
          <xs:documentation>Mycelium</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="111">
        <xs:annotation>
          <xs:documentation>Lily Pad</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="112">
        <xs:annotation>
          <xs:documentation>Nether Brick</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="113">
        <xs:annotation>
          <xs:documentation>Nether Brick Fence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="114">
        <xs:annotation>
          <xs:documentation>Nether Brick Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="115">
        <xs:annotation>
          <xs:documentation>Nether Wart</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="116">
        <xs:annotation>
          <xs:documentation>Enchantment Table</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="117">
        <xs:annotation>
          <xs:documentation>Brewing Stand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="118">
        <xs:annotation>
          <xs:documentation>Cauldron</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="119">
        <xs:annotation>
          <xs:documentation>End Portal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="120">
        <xs:annotation>
          <xs:documentation>End Portal Frame</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="121">
        <xs:annotation>
          <xs:documentation>End Stone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="122">
        <xs:annotation>
          <xs:documentation>Dragon Egg</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="123">
        <xs:annotation>
          <xs:documentation>Redstone Lamp</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="124">
        <xs:annotation>
          <xs:documentation>Redstone Lamp</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="125">
        <xs:annotation>
          <xs:documentation>Oak Wood Slab</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="126">
        <xs:annotation>
          <xs:documentation>Oak Wood Slab</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="127">
        <xs:annotation>
          <xs:documentation>Cocoa</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="128">
        <xs:annotation>
          <xs:documentation>Sandstone Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="129">
        <xs:annotation>
          <xs:documentation>Emerald Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="130">
        <xs:annotation>
          <xs:documentation>Ender Chest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="131">
        <xs:annotation>
          <xs:documentation>Tripwire Hook</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="132">
        <xs:annotation>
          <xs:documentation>Tripwire</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="133">
        <xs:annotation>
          <xs:documentation>Block of Emerald</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="134">
        <xs:annotation>
          <xs:documentation>Spruce Wood Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="135">
        <xs:annotation>
          <xs:documentation>Birch Wood Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="136">
        <xs:annotation>
          <xs:documentation>Jungle Wood Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="139">
        <xs:annotation>
          <xs:documentation>Cobblestone Wall</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="140">
        <xs:annotation>
          <xs:documentation>Flower Pot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="141">
        <xs:annotation>
          <xs:documentation>Carrots</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="142">
        <xs:annotation>
          <xs:documentation>Potatoes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="143">
        <xs:annotation>
          <xs:documentation>Button</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="144">
        <xs:annotation>
          <xs:documentation>Skull</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="145">
        <xs:annotation>
          <xs:documentation>Anvil</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="153">
        <xs:annotation>
          <xs:documentation>Nether Quartz Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="155">
        <xs:annotation>
          <xs:documentation>Block of Quartz</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="156">
        <xs:annotation>
          <xs:documentation>Quartz Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="171">
        <xs:annotation>
          <xs:documentation>Carpet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ItemId">
    <xs:restriction base="xs:int">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Stone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Grass Block</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Dirt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Cobblestone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Wooden Planks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:documentation>Sapling</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:documentation>Bedrock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="8">
        <xs:annotation>
          <xs:documentation>Water</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:documentation>Water</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>Lava</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="11">
        <xs:annotation>
          <xs:documentation>Lava</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="12">
        <xs:annotation>
          <xs:documentation>Sand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="13">
        <xs:annotation>
          <xs:documentation>Gravel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="14">
        <xs:annotation>
          <xs:documentation>Gold Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="15">
        <xs:annotation>
          <xs:documentation>Iron Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="16">
        <xs:annotation>
          <xs:documentation>Coal Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="17">
        <xs:annotation>
          <xs:documentation>Wood</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="18">
        <xs:annotation>
          <xs:documentation>Leaves</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="19">
        <xs:annotation>
          <xs:documentation>Sponge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:documentation>Glass</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="21">
        <xs:annotation>
          <xs:documentation>Lapis Lazuli Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="22">
        <xs:annotation>
          <xs:documentation>Lapis Lazuli Block</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="23">
        <xs:annotation>
          <xs:documentation>Dispenser</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="24">
        <xs:annotation>
          <xs:documentation>Sandstone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="25">
        <xs:annotation>
          <xs:documentation>Note Block</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="26">
        <xs:annotation>
          <xs:documentation>Bed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="27">
        <xs:annotation>
          <xs:documentation>Powered Rail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="28">
        <xs:annotation>
          <xs:documentation>Detector Rail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="29">
        <xs:annotation>
          <xs:documentation>Sticky Piston</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:documentation>Web</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="31">
        <xs:annotation>
          <xs:documentation>Tall Grass</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="32">
        <xs:annotation>
          <xs:documentation>Dead Bush</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="33">
        <xs:annotation>
          <xs:documentation>Piston</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="34">
        <xs:annotation>
          <xs:documentation>Piston</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="35">
        <xs:annotation>
          <xs:documentation>Wool</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="36">
        <xs:annotation>
          <xs:documentation>Piston</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="37">
        <xs:annotation>
          <xs:documentation>Flower</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="38">
        <xs:annotation>
          <xs:documentation>Rose</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="39">
        <xs:annotation>
          <xs:documentation>Mushroom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation>Mushroom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="41">
        <xs:annotation>
          <xs:documentation>Block of Gold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="42">
        <xs:annotation>
          <xs:documentation>Block of Iron</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="43">
        <xs:annotation>
          <xs:documentation>Stone Slab</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="44">
        <xs:annotation>
          <xs:documentation>Stone Slab</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="45">
        <xs:annotation>
          <xs:documentation>Bricks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="46">
        <xs:annotation>
          <xs:documentation>TNT</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="47">
        <xs:annotation>
          <xs:documentation>Bookshelf</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="48">
        <xs:annotation>
          <xs:documentation>Moss Stone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="49">
        <xs:annotation>
          <xs:documentation>Obsidian</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="50">
        <xs:annotation>
          <xs:documentation>Torch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="51">
        <xs:annotation>
          <xs:documentation>Fire</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="52">
        <xs:annotation>
          <xs:documentation>Monster Spawner</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="53">
        <xs:annotation>
          <xs:documentation>Wooden Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="54">
        <xs:annotation>
          <xs:documentation>Chest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="55">
        <xs:annotation>
          <xs:documentation>Redstone Dust</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="56">
        <xs:annotation>
          <xs:documentation>Diamond Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="57">
        <xs:annotation>
          <xs:documentation>Block of Diamond</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="58">
        <xs:annotation>
          <xs:documentation>Crafting Table</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="59">
        <xs:annotation>
          <xs:documentation>Crops</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="60">
        <xs:annotation>
          <xs:documentation>Farmland</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="61">
        <xs:annotation>
          <xs:documentation>Furnace</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="62">
        <xs:annotation>
          <xs:documentation>Furnace</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="63">
        <xs:annotation>
          <xs:documentation>Sign</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="64">
        <xs:annotation>
          <xs:documentation>Wooden Door</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="65">
        <xs:annotation>
          <xs:documentation>Ladder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="66">
        <xs:annotation>
          <xs:documentation>Rail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="67">
        <xs:annotation>
          <xs:documentation>Stone Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="68">
        <xs:annotation>
          <xs:documentation>Sign</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="69">
        <xs:annotation>
          <xs:documentation>Lever</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="70">
        <xs:annotation>
          <xs:documentation>Pressure Plate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="71">
        <xs:annotation>
          <xs:documentation>Iron Door</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="72">
        <xs:annotation>
          <xs:documentation>Pressure Plate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="73">
        <xs:annotation>
          <xs:documentation>Redstone Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="74">
        <xs:annotation>
          <xs:documentation>Redstone Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="75">
        <xs:annotation>
          <xs:documentation>Redstone Torch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="76">
        <xs:annotation>
          <xs:documentation>Redstone Torch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="77">
        <xs:annotation>
          <xs:documentation>Button</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="78">
        <xs:annotation>
          <xs:documentation>Snow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="79">
        <xs:annotation>
          <xs:documentation>Ice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="80">
        <xs:annotation>
          <xs:documentation>Snow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="81">
        <xs:annotation>
          <xs:documentation>Cactus</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="82">
        <xs:annotation>
          <xs:documentation>Clay</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="83">
        <xs:annotation>
          <xs:documentation>Sugar Cane</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="84">
        <xs:annotation>
          <xs:documentation>Jukebox</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="85">
        <xs:annotation>
          <xs:documentation>Fence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="86">
        <xs:annotation>
          <xs:documentation>Pumpkin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="87">
        <xs:annotation>
          <xs:documentation>Netherrack</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="88">
        <xs:annotation>
          <xs:documentation>Soul Sand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="89">
        <xs:annotation>
          <xs:documentation>Glowstone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="90">
        <xs:annotation>
          <xs:documentation>Portal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="91">
        <xs:annotation>
          <xs:documentation>Jack-O-Lantern</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="92">
        <xs:annotation>
          <xs:documentation>Cake</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="93">
        <xs:annotation>
          <xs:documentation>Redstone Repeater</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="94">
        <xs:annotation>
          <xs:documentation>Redstone Repeater</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="95">
        <xs:annotation>
          <xs:documentation>Locked Chest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="96">
        <xs:annotation>
          <xs:documentation>Trapdoor</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="97">
        <xs:annotation>
          <xs:documentation>Silverfish Stone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="98">
        <xs:annotation>
          <xs:documentation>Stone Bricks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="99">
        <xs:annotation>
          <xs:documentation>Mushroom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="100">
        <xs:annotation>
          <xs:documentation>Mushroom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="101">
        <xs:annotation>
          <xs:documentation>Iron Bars</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="102">
        <xs:annotation>
          <xs:documentation>Glass Pane</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="103">
        <xs:annotation>
          <xs:documentation>Melon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="104">
        <xs:annotation>
          <xs:documentation>Pumpkin Stem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="105">
        <xs:annotation>
          <xs:documentation>Melon Stem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="106">
        <xs:annotation>
          <xs:documentation>Vines</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="107">
        <xs:annotation>
          <xs:documentation>Fence Gate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="108">
        <xs:annotation>
          <xs:documentation>Brick Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="109">
        <xs:annotation>
          <xs:documentation>Stone Brick Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="110">
        <xs:annotation>
          <xs:documentation>Mycelium</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="111">
        <xs:annotation>
          <xs:documentation>Lily Pad</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="112">
        <xs:annotation>
          <xs:documentation>Nether Brick</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="113">
        <xs:annotation>
          <xs:documentation>Nether Brick Fence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="114">
        <xs:annotation>
          <xs:documentation>Nether Brick Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="115">
        <xs:annotation>
          <xs:documentation>Nether Wart</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="116">
        <xs:annotation>
          <xs:documentation>Enchantment Table</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="117">
        <xs:annotation>
          <xs:documentation>Brewing Stand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="118">
        <xs:annotation>
          <xs:documentation>Cauldron</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="119">
        <xs:annotation>
          <xs:documentation>End Portal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="120">
        <xs:annotation>
          <xs:documentation>End Portal Frame</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="121">
        <xs:annotation>
          <xs:documentation>End Stone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="122">
        <xs:annotation>
          <xs:documentation>Dragon Egg</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="123">
        <xs:annotation>
          <xs:documentation>Redstone Lamp</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="124">
        <xs:annotation>
          <xs:documentation>Redstone Lamp</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="125">
        <xs:annotation>
          <xs:documentation>Oak Wood Slab</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="126">
        <xs:annotation>
          <xs:documentation>Oak Wood Slab</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="127">
        <xs:annotation>
          <xs:documentation>Cocoa</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="128">
        <xs:annotation>
          <xs:documentation>Sandstone Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="129">
        <xs:annotation>
          <xs:documentation>Emerald Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="130">
        <xs:annotation>
          <xs:documentation>Ender Chest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="131">
        <xs:annotation>
          <xs:documentation>Tripwire Hook</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="132">
        <xs:annotation>
          <xs:documentation>Tripwire</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="133">
        <xs:annotation>
          <xs:documentation>Block of Emerald</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="134">
        <xs:annotation>
          <xs:documentation>Spruce Wood Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="135">
        <xs:annotation>
          <xs:documentation>Birch Wood Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="136">
        <xs:annotation>
          <xs:documentation>Jungle Wood Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="139">
        <xs:annotation>
          <xs:documentation>Cobblestone Wall</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="140">
        <xs:annotation>
          <xs:documentation>Flower Pot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="141">
        <xs:annotation>
          <xs:documentation>Carrots</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="142">
        <xs:annotation>
          <xs:documentation>Potatoes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="143">
        <xs:annotation>
          <xs:documentation>Button</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="144">
        <xs:annotation>
          <xs:documentation>Skull</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="145">
        <xs:annotation>
          <xs:documentation>Anvil</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="153">
        <xs:annotation>
          <xs:documentation>Nether Quartz Ore</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="155">
        <xs:annotation>
          <xs:documentation>Block of Quartz</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="156">
        <xs:annotation>
          <xs:documentation>Quartz Stairs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="171">
        <xs:annotation>
          <xs:documentation>Carpet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="256">
        <xs:annotation>
          <xs:documentation>Iron Shovel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="257">
        <xs:annotation>
          <xs:documentation>Iron Pickaxe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="258">
        <xs:annotation>
          <xs:documentation>Iron Axe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="259">
        <xs:annotation>
          <xs:documentation>Flint and Steel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="260">
        <xs:annotation>
          <xs:documentation>Apple</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="261">
        <xs:annotation>
          <xs:documentation>Bow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="262">
        <xs:annotation>
          <xs:documentation>Arrow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="263">
        <xs:annotation>
          <xs:documentation>Coal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="264">
        <xs:annotation>
          <xs:documentation>Diamond</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="265">
        <xs:annotation>
          <xs:documentation>Iron Ingot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="266">
        <xs:annotation>
          <xs:documentation>Gold Ingot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="267">
        <xs:annotation>
          <xs:documentation>Iron Sword</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="268">
        <xs:annotation>
          <xs:documentation>Wooden Sword</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="269">
        <xs:annotation>
          <xs:documentation>Wooden Shovel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="270">
        <xs:annotation>
          <xs:documentation>Wooden Pickaxe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="271">
        <xs:annotation>
          <xs:documentation>Wooden Axe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="272">
        <xs:annotation>
          <xs:documentation>Stone Sword</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="273">
        <xs:annotation>
          <xs:documentation>Stone Shovel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="274">
        <xs:annotation>
          <xs:documentation>Stone Pickaxe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="275">
        <xs:annotation>
          <xs:documentation>Stone Axe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="276">
        <xs:annotation>
          <xs:documentation>Diamond Sword</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="277">
        <xs:annotation>
          <xs:documentation>Diamond Shovel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="278">
        <xs:annotation>
          <xs:documentation>Diamond Pickaxe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="279">
        <xs:annotation>
          <xs:documentation>Diamond Axe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="280">
        <xs:annotation>
          <xs:documentation>Stick</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="281">
        <xs:annotation>
          <xs:documentation>Bowl</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="282">
        <xs:annotation>
          <xs:documentation>Mushroom Stew</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="283">
        <xs:annotation>
          <xs:documentation>Golden Sword</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="284">
        <xs:annotation>
          <xs:documentation>Golden Shovel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="285">
        <xs:annotation>
          <xs:documentation>Golden Pickaxe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="286">
        <xs:annotation>
          <xs:documentation>Golden Axe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="287">
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="288">
        <xs:annotation>
          <xs:documentation>Feather</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="289">
        <xs:annotation>
          <xs:documentation>Gunpowder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="290">
        <xs:annotation>
          <xs:documentation>Wooden Hoe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="291">
        <xs:annotation>
          <xs:documentation>Stone Hoe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="292">
        <xs:annotation>
          <xs:documentation>Iron Hoe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="293">
        <xs:annotation>
          <xs:documentation>Diamond Hoe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="294">
        <xs:annotation>
          <xs:documentation>Golden Hoe</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="295">
        <xs:annotation>
          <xs:documentation>Seeds</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="296">
        <xs:annotation>
          <xs:documentation>Wheat</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="297">
        <xs:annotation>
          <xs:documentation>Bread</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="298">
        <xs:annotation>
          <xs:documentation>Leather Cap</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="299">
        <xs:annotation>
          <xs:documentation>Leather Tunic</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="300">
        <xs:annotation>
          <xs:documentation>Leather Pants</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="301">
        <xs:annotation>
          <xs:documentation>Leather Boots</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="302">
        <xs:annotation>
          <xs:documentation>Chain Helmet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="303">
        <xs:annotation>
          <xs:documentation>Chain Chestplate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="304">
        <xs:annotation>
          <xs:documentation>Chain Leggings</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="305">
        <xs:annotation>
          <xs:documentation>Chain Boots</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="306">
        <xs:annotation>
          <xs:documentation>Iron Helmet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="307">
        <xs:annotation>
          <xs:documentation>Iron Chestplate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="308">
        <xs:annotation>
          <xs:documentation>Iron Leggings</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="309">
        <xs:annotation>
          <xs:documentation>Iron Boots</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="310">
        <xs:annotation>
          <xs:documentation>Diamond Helmet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="311">
        <xs:annotation>
          <xs:documentation>Diamond Chestplate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="312">
        <xs:annotation>
          <xs:documentation>Diamond Leggings</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="313">
        <xs:annotation>
          <xs:documentation>Diamond Boots</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="314">
        <xs:annotation>
          <xs:documentation>Golden Helmet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="315">
        <xs:annotation>
          <xs:documentation>Golden Chestplate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="316">
        <xs:annotation>
          <xs:documentation>Golden Leggings</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="317">
        <xs:annotation>
          <xs:documentation>Golden Boots</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="318">
        <xs:annotation>
          <xs:documentation>Flint</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="319">
        <xs:annotation>
          <xs:documentation>Raw Porkchop</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="320">
        <xs:annotation>
          <xs:documentation>Cooked Porkchop</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="321">
        <xs:annotation>
          <xs:documentation>Painting</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="322">
        <xs:annotation>
          <xs:documentation>Golden Apple</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="323">
        <xs:annotation>
          <xs:documentation>Sign</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="324">
        <xs:annotation>
          <xs:documentation>Wooden Door</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="325">
        <xs:annotation>
          <xs:documentation>Bucket</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="326">
        <xs:annotation>
          <xs:documentation>Water Bucket</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="327">
        <xs:annotation>
          <xs:documentation>Lava Bucket</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="328">
        <xs:annotation>
          <xs:documentation>Minecart</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="329">
        <xs:annotation>
          <xs:documentation>Saddle</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="330">
        <xs:annotation>
          <xs:documentation>Iron Door</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="331">
        <xs:annotation>
          <xs:documentation>Redstone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="332">
        <xs:annotation>
          <xs:documentation>Snowball</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="333">
        <xs:annotation>
          <xs:documentation>Boat</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="334">
        <xs:annotation>
          <xs:documentation>Leather</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="335">
        <xs:annotation>
          <xs:documentation>Milk Bucket</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="336">
        <xs:annotation>
          <xs:documentation>Brick</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="337">
        <xs:annotation>
          <xs:documentation>Clay</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="338">
        <xs:annotation>
          <xs:documentation>Sugar Canes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="339">
        <xs:annotation>
          <xs:documentation>Paper</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="340">
        <xs:annotation>
          <xs:documentation>Book</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="341">
        <xs:annotation>
          <xs:documentation>Slimeball</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="342">
        <xs:annotation>
          <xs:documentation>Minecart with Chest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="343">
        <xs:annotation>
          <xs:documentation>Minecart with Furnace</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="344">
        <xs:annotation>
          <xs:documentation>Egg</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="345">
        <xs:annotation>
          <xs:documentation>Compass</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="346">
        <xs:annotation>
          <xs:documentation>Fishing Rod</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="347">
        <xs:annotation>
          <xs:documentation>Clock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="348">
        <xs:annotation>
          <xs:documentation>Glowstone Dust</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="349">
        <xs:annotation>
          <xs:documentation>Raw Fish</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="350">
        <xs:annotation>
          <xs:documentation>Cooked Fish</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="351">
        <xs:annotation>
          <xs:documentation>Dye Powder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="352">
        <xs:annotation>
          <xs:documentation>Bone</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="353">
        <xs:annotation>
          <xs:documentation>Sugar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="354">
        <xs:annotation>
          <xs:documentation>Cake</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="355">
        <xs:annotation>
          <xs:documentation>Bed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="356">
        <xs:annotation>
          <xs:documentation>Redstone Repeater</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="357">
        <xs:annotation>
          <xs:documentation>Cookie</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="358">
        <xs:annotation>
          <xs:documentation>Map</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="359">
        <xs:annotation>
          <xs:documentation>Shears</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="360">
        <xs:annotation>
          <xs:documentation>Melon Slice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="361">
        <xs:annotation>
          <xs:documentation>Pumpkin Seeds</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="362">
        <xs:annotation>
          <xs:documentation>Melon Seeds</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="363">
        <xs:annotation>
          <xs:documentation>Raw Beef</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="364">
        <xs:annotation>
          <xs:documentation>Steak</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="365">
        <xs:annotation>
          <xs:documentation>Raw Chicken</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="366">
        <xs:annotation>
          <xs:documentation>Cooked Chicken</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="367">
        <xs:annotation>
          <xs:documentation>Rotten Flesh</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="368">
        <xs:annotation>
          <xs:documentation>Ender Pearl</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="369">
        <xs:annotation>
          <xs:documentation>Blaze Rod</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="370">
        <xs:annotation>
          <xs:documentation>Ghast Tear</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="371">
        <xs:annotation>
          <xs:documentation>Gold Nugget</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="372">
        <xs:annotation>
          <xs:documentation>Nether Wart</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="373">
        <xs:annotation>
          <xs:documentation>{*splash*}{*prefix*}Potion {*postfix*}</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="374">
        <xs:annotation>
          <xs:documentation>Glass Bottle</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="375">
        <xs:annotation>
          <xs:documentation>Spider Eye</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="376">
        <xs:annotation>
          <xs:documentation>Fermented Spider Eye</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="377">
        <xs:annotation>
          <xs:documentation>Blaze Powder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="378">
        <xs:annotation>
          <xs:documentation>Magma Cream</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="379">
        <xs:annotation>
          <xs:documentation>Brewing Stand</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="380">
        <xs:annotation>
          <xs:documentation>Cauldron</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="381">
        <xs:annotation>
          <xs:documentation>Eye of Ender</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="382">
        <xs:annotation>
          <xs:documentation>Glistering Melon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="383">
        <xs:annotation>
          <xs:documentation>Spawn {*CREATURE*}</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="384">
        <xs:annotation>
          <xs:documentation>Bottle o' Enchanting</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="385">
        <xs:annotation>
          <xs:documentation>Fire Charge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="388">
        <xs:annotation>
          <xs:documentation>Emerald</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="389">
        <xs:annotation>
          <xs:documentation>Item Frame</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="390">
        <xs:annotation>
          <xs:documentation>Flower Pot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="391">
        <xs:annotation>
          <xs:documentation>Carrot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="392">
        <xs:annotation>
          <xs:documentation>Potato</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="393">
        <xs:annotation>
          <xs:documentation>Baked Potato</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="394">
        <xs:annotation>
          <xs:documentation>Poisonous Potato</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="396">
        <xs:annotation>
          <xs:documentation>Golden Carrot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="397">
        <xs:annotation>
          <xs:documentation>Skull</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="398">
        <xs:annotation>
          <xs:documentation>Carrot on a Stick</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="400">
        <xs:annotation>
          <xs:documentation>Pumpkin Pie</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="403">
        <xs:annotation>
          <xs:documentation>Enchanted Book</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="405">
        <xs:annotation>
          <xs:documentation>Nether Brick</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="406">
        <xs:annotation>
          <xs:documentation>Nether Quartz</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2256">
        <xs:annotation>
          <xs:documentation>Music Disc - "13"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2257">
        <xs:annotation>
          <xs:documentation>Music Disc - "cat"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2258">
        <xs:annotation>
          <xs:documentation>Music Disc - "blocks"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2259">
        <xs:annotation>
          <xs:documentation>Music Disc - "chirp"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2260">
        <xs:annotation>
          <xs:documentation>Music Disc - "far"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2261">
        <xs:annotation>
          <xs:documentation>Music Disc - "mall"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2262">
        <xs:annotation>
          <xs:documentation>Music Disc - "mellohi"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2263">
        <xs:annotation>
          <xs:documentation>Music Disc - "stal"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2264">
        <xs:annotation>
          <xs:documentation>Music Disc - "strad"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2265">
        <xs:annotation>
          <xs:documentation>Music Disc - "ward"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2266">
        <xs:annotation>
          <xs:documentation>Music Disc - "11"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2267">
        <xs:annotation>
          <xs:documentation>Music Disc - "where are we now"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
